@font-face {
    font-family: source sans;
    src: url(../font/SourceSansPro-Regular.ttf)
}

@font-face {
    font-family: sofiapro;
    src: url(../font/sofiapro-light.otf)
}

@font-face {
    font-family: stryde;
    src: url(../font/StRyde-Regular.otf)
}



* {
    margin: 0;
    padding: 0;
    font-family: source sans;
}

.wrapper {
    width: 80%;
    margin: 0 auto
}


.header {
    height: 140px;
    overflow: hdden;
    border-top: 7px solid #a292b3;
}



.logo {
    float: left;
    margin-top: 28px;
}





.nav_bar {
    float: right
}

.nav_bar ul {}

.nav_bar ul li {
    list-style: none;
    float: left
}

.nav_bar ul li a {
    text-decoration: none;
    font-family: source sans;
    display: inline-block;
    text-transform: uppercase;
    font-size: 19px;
    color: #545454;
    padding: 53px 22px;
}

.nav_bar ul li a img {
    margin-right: 6px
}

.nav_bar ul li a:hover{ color: #581c99}



.slider {
    width: 80%;
    height: 485px;
    background: url(../images/backround.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
    opacity: .98
}

.slider_text {
    padding-top: 160px
}

.slider_text h1 {
    text-align: center;
    font-family: stryde;
    font-size: 80px;
    color: white
}


.slider_text p {
    font-family: sofiapro;
    color: white;
    font-size: 28px;
    text-align: center
}

.arrow_left {
    margin: -12.4%;

}

.arrow_right {
    margin: 4% 108.3%;
}






.article_section {
    height: 131px;
    width: 100%;
    margin-top: 30px
}

.article {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-color: #DFDFDF;

}

.article span {
    color: #82699d;
    font-weight: bold;
}

.article p {
    line-height: 29px;
    font-size: 22px;
    color: #494848;
    font-family: stryde;
    font-style: italic;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 17px;
}






.newslatter {
    height: 337px;
    margin-top: 22px;
}

.news_picture {
    height: 250px;
    width: 250px;
    float: left
}

.news {
    float: right;
    width: 640px;
    height: 265px;
    padding-top: 28px;

}

.news h2 {
    font-size: 31px;
    font-weight: bold;
    color: #505051;
}

.news p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 4px;
}

.news p a {
    text-decoration: none;
    font-style: italic;
    padding-left: 33em;
    color: #a3a5a5;
    transition: .5s
}


.news p a:hover {
    color: blue;
}






.featured_section {
    height: 139px;
    margin-top: 30px
}

.Featured_text {
    font-family: sans-serif;
}

.Featured_text h3 {
    font-size: 25px;
    font-weight: 300;
}

.Featured_text h3 span {
    font-weight: bold
}


.featured_logo {
    height: 70px;
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 15px
}

.featured_logo a {
    height: 100%;
    width: 25%;
    float: left;
    box-sizing: border-box;
    border-right: 2px solid #c6c5c5;transition: .8s
}

.featured_logo a:last-child {
    border: none
}

.featured_logo a:hover {
    background-color: #c4c3cc;
    
}


.featured_logo img {
    padding: 17px 26px;
}



.footer_section {    height: 86px;
    background-color: #E4E4E4;
    border-bottom: 7px solid #a292b3;
    box-sizing: border-box;}

.footer_text {float: left}
.footer_text p {    color: #6f6c6c;
    padding: 29px 0px;}

.social_icon { float: right;    padding: 29px 0px;}

.fa.fa-facebook-square { font-size: 31px;
    padding-right: 5px;color: #846c9f;
}

.fa.fa-twitter-square {font-size: 31px;color: #846c9f;}
